SECRET_KEY=change-me
DEBUG=0
ALLOWED_HOSTS=cards-tracker.perfumex.ru,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://cards-tracker.perfumex.ru
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgres://cards_tracker:change-me@db:5432/cards_tracker
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me
