# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Django
media/
staticfiles/

# Env / secrets
.env
.env.*
*.pem
*.key

# VS Code
.vscode/

# Virtualenv
venv/
.venv/
env/

# Local production secrets
.env
.env.*
!.env.example

# Local database dumps
*.sql
*.dump
*.backup

# Runtime/build output
staticfiles/
